<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datadriver.student.dao.StudentMapper">
	<sql id="Base_Column_List">
		L_ID as studentId,
		VC_NAME as studentName,
		L_AGE as studentAge,
		D_ENROLLMENT_TIME as enrollmentTime,
		VC_REMARK as remark
	</sql>

	<insert id="insertSelective" parameterType="com.datadriver.student.model.Student">
		INSERT INTO T_STUDENT
		( VC_NAME, L_AGE, D_ENROLLMENT_TIME, VC_REMARK)
		VALUES
		(
		#{studentName,jdbcType=VARCHAR},
		IF(LENGTH(TRIM(#{studentAge})) <![CDATA[<]]> 1, NULL, #{studentAge,jdbcType=NUMERIC}),
		IF(LENGTH(TRIM(#{enrollmentTime})) <![CDATA[<]]> 1, NULL, #{enrollmentTime,jdbcType=DATE}),
		#{remark,jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="String">
		DELETE FROM
		T_STUDENT
		WHERE L_ID = #{studentId,jdbcType=NUMERIC}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="com.datadriver.student.model.Student">
		UPDATE T_STUDENT
		<set>
			<if test="studentName!= null and studentName!=''">
				VC_NAME = #{studentName,jdbcType=VARCHAR},
			</if>
			L_AGE = IF(LENGTH(TRIM(#{studentAge})) <![CDATA[<]]> 1, NULL, #{studentAge,jdbcType=NUMERIC}),
            D_ENROLLMENT_TIME = IF(LENGTH(TRIM(#{enrollmentTime})) <![CDATA[<]]> 1, NULL, #{enrollmentTime,jdbcType=DATE}),
            VC_REMARK = #{remark,jdbcType=VARCHAR}
		</set>
		WHERE L_ID = #{studentId,jdbcType=NUMERIC}
	</update>

	<select id="selectByPrimaryKey" parameterType="String" resultType="com.datadriver.student.model.Student">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_STUDENT
		WHERE L_ID = #{studentId,jdbcType=NUMERIC}
	</select>

	<select id="selectPageByUserName" parameterType="com.datadriver.student.dto.StudentDTO" resultType="com.datadriver.student.model.Student">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_STUDENT
		<where >
			<if test="studentName!=null and studentName!=''">
				AND VC_NAME LIKE CONCAT('%',#{studentName},'%')
			</if>
		</where>
		<if test="orderString!=null and orderString!=''">
			ORDER BY ${orderString}
		</if>
	</select>

</mapper>